<ion-view view-title="Linee">
  <ion-content>

<ul class="list">
  <li class="item item-checkbox" ng-repeat="f in filters.tipo">
     <label class="checkbox">
       <input type="checkbox" ng-model="f.state">
     </label>
     {{f.type}}
  </li>
</ul>


    <ul class="list">
        <li class="item" collection-repeat="linea in linee|filter:filtraLinee()">
            {{linea.long_name}} -- {{linea.rtype}} 
        </li>
    </ul>


  <ion-infinite-scroll
    on-infinite="updateLinee()"
    distance="1%">
  </ion-infinite-scroll>

  </ion-content>
</ion-view>
