<ion-view view-title="Linee">
    <ion-nav-buttons side="right">
        <button class="button icon ion-gear-a" ui-sref="app.setting"></button>  
    </ion-nav-buttons>

  <ion-content>




    <ul class="list">
        <li class="item" collection-repeat="linea in linee|filter:filtraLinee()">
            {{linea.long_name}} -- {{linea.rtype}} 
        </li>
    </ul>


  <ion-infinite-scroll
    on-infinite="updateLinee()"
    distance="1%">
  </ion-infinite-scroll>

  </ion-content>
</ion-view>
